@import "bootstrap/bootstrap.less";
@import "variables.less";
/*mixins*/

.section-wrapper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.no-padding {
    padding: 0;
}

/*mixins*/

html {
    font-size: @font-size-base;
}

body {
    font-family: @font-family-primary;
}

h2 {
    font-family: @font-family-primary;
    font-size: 1.875rem;
    font-weight: 600;
    color: #191919;
    margin: 0;
    letter-spacing: 0.01em;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.btn {
    outline: none;
    border-radius: 0px;
    border: none;
    background-color: @brand-color;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 45px;
    letter-spacing: 0.1em;
    position: relative;
    transition: all .3s ease;
}

.btn:hover {
    background: transparent;
    color: @brand-color;
}

.btn:hover:before,
.btn:hover:after {
    transition: all .7s ease-in;
    width: 100%;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0px;
    height: 2px;
    background: @brand-color;
    transition: all 0.7s ease-in;
}

.btn:after {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
}


.modal-body {
    padding: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 999;
    border: none;
    outline: none;
    background-color: @brand-color;
    color: #fff;
    cursor: pointer;
    width: 40px;
    opacity: 0.7;
    height: 40px;
    border-radius: 10%;
    font-size: 1.5rem;
    transition: opacity .3s ease, transform .3s ease;
    i {
        vertical-align: text-top;
    }
}

#myBtn:hover {
    opacity: 1;
    transform: translateY(-5px);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .section-wrapper {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.header {
    position: relative;
    /*height: 100vh;*/
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    .navbar {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 38px 15px 0px;
        border: none;
        height: 66px;
        background-color: transparent;
        margin: 0;
        box-sizing: border-box;
        .navbar-brand {
            display: inline-block;
            width: 30px;
            height: 25px;
            padding: 0px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .navbar-right {
            height: 100%;
            li {
                height: inherit;
                vertical-align: middle;
                a {
                    position: relative;
                    z-index: 100;
                    display: inline-block;
                    text-transform: uppercase;
                    color: #191919;
                    font-weight: 600;
                    font-size: 0.75rem;
                    padding: 0;
                    margin: 0 15px;
                    letter-spacing: 0.05em;
                    background-color: transparent;
                    transition: color .3s ease;
                }
                a::before {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    content: '';
                    z-index: 100;
                    background-color: @brand-color;
                    height: 2px;
                    left: 51%;
                    right: 51%;
                    transition: left .3s ease, right .3s ease;
                }
                a:hover {
                    color: @brand-color;
                }

                a:hover::before {
                    left: 0;
                    right: 0;
                }
            }
            .active a {
                color: @brand-color;
            }
        }
    }
    .hero-section {

        .info {
            .adress {
                h2 {
                    font-size: 1.875rem;
                    font-weight: 600;
                    color: #171717;
                    margin-bottom: 38px;
                }
                p {
                    font-family: @font-family-secondary;
                    font-size: 1rem;
                    font-weight: 400;
                    color: #787878;
                    margin: 12.5px 0;
                    line-height: 1.6;
                    letter-spacing: 0.01em;
                    strong {
                        color: #171717;
                    }
                    a {
                        color: #787878;
                        transition: .3s;
                    }
                    a:hover {
                        color: @brand-color;
                    }
                }

            }
            .contact-form {
                width: 100%;
                background-color: #f5f5f5;
                h2 {
                    font-family: @font-family-primary;
                    font-size: 1.875rem;
                    font-weight: 600;
                    color: #191919;
                    margin: 0;
                    letter-spacing: 0.01em;
                    line-height: 1;
                }
                p {
                    font-family: @font-family-secondary;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #787878;
                    margin: 40px 0px 40px;
                    letter-spacing: 0.01em;
                }
                .form {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-flow: column;
                    flex-wrap: wrap;
                    max-width: 670px;
                    min-height: 325px;
                    margin: 0 auto;
                    input::placeholder,
                    textarea::placeholder {
                        color: #787878;
                        font-size: 0.9375rem;
                        letter-spacing: 0.001em;
                    }
                    input,
                    textarea {
                        display: inline-block;
                        height: 50px;
                        border: none;
                        padding: 18px 20px;
                        margin-bottom: 10px;
                    }
                    input,
                    textarea:focus {
                        outline-color: @brand-color;
                    }
                    .name-email {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;
                        input {
                            width: 48%;
                            height: 50px;
                        }
                        .name {
                            margin-left: 0px;
                        }
                        .email {
                            margin-right: 0px;
                        }
                    }
                    @media (max-width: 767px) {
                        .name-email {
                            input {
                                width: 100%;
                                height: 50px;
                            }
                            .name {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .subject {
                        width: 100%;
                        height: 50px;
                    }
                    textarea {
                        resize: none;
                        width: 100%;
                        min-height: 170px;
                    }
                }

            }
        }
        .btn {
            margin-top: 30px;
            padding: 20px 35px;
            line-height: 1;
        }
    }
}

.header::before {
    position: absolute;
    display: block;
    z-index: 80;
    content: '';
    background-color: #fff;
    height: 100px;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header::before {
        position: fixed;
    }
}

main {
background-color: #f5f5f5;
    .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        margin: 0 auto;
        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
}

footer {
    display: block;
    width: 100%;
    background-color: #141414;
    color: #fff;
    a {
        display: inline-block;
        text-decoration: none;
        color: #bcbcbc;
        transition: color .2s;
        line-height: 1.8;
        font-size: 0.9375rem;
    }
    a:hover {
        color: @brand-color;
    }
    .copyright {
        display: block;
        h4 {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;
        }
        p {
            color: #bcbcbc;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: 0.01em;
        }
    }
    ul {
        display: block;
        padding: 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
                display: inline-block;
                color: #bcbcbc;
                padding: 0;
                font-size: 0.9375rem;
                transition: color .3s ease;
            }
            a:hover {
                color: @brand-color;
            }
        }
    }
}

/*mobile menu next*/

@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #pc-nav {
        display: none;
    }
    /* #myBtn {
        visibility: hidden;
    }*/
    .section-wrapper {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    html {
        font-size: 12px;
    }
    .header::before {
        display: none;
    }
    .mobile-logo {
        z-index: 999;
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 25px;
        position: fixed;
        top: 4.5%;
        left: 4.5%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #overlay {
        z-index: 998;
        display: flex;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        div {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    margin: 5% auto;
                    a {
                        text-transform: uppercase;
                        font-size: 2rem;
                        color: #fff;
                        font-family: @font-family-primary;
                        font-weight: 400;
                    }
                }
                .active {
                    a {
                        color: @brand-color;
                    }
                }
            }
        }
    }

    #nav-icon {
        position: fixed;
        top: 4%;
        right: 4%;
        margin: 0 auto;
        width: 42px;
        height: 42px;
        z-index: 999;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background: #008080;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 12px;
        }

        span:nth-child(3) {
            top: 24px;
        }
    }
    #nav-icon.animate-icon span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }

    #nav-icon.animate-icon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon.animate-icon span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }

    .header {
        .hero-section {
            align-items: center;
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
    }
    main {}
    footer {
        .reorder {
            display: flex;
            flex-wrap: wrap;
        }
        .copyright,
        .pagination-centered,
        li {
            text-align: center;
            order: 2;
        }
        .reordered {
            order: 1;
        }
    }
}