@import "bootstrap/bootstrap.less";
@import "variables.less";
/*mixins*/

.section-wrapper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.no-padding {
    padding: 0;
}

/*mixins*/

html {
    font-size: @font-size-base;
}

body {
    font-family: @font-family-primary;
}

h2 {
    font-family: @font-family-primary;
    font-size: 1.875rem;
    font-weight: 600;
    color: #191919;
    margin: 0;
    letter-spacing: 0.01em;
}

a:hover {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.btn {
    outline: none;
    border-radius: 0px;
    border: none;
    background-color: @brand-color;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff;
    padding: 20px 45px;
    letter-spacing: 0.1em;
    position: relative;
    transition: all .3s ease;
}

.btn:hover {
    background: transparent;
    color: @brand-color;
}

.btn:hover:before,
.btn:hover:after {
    transition: all .7s ease-in;
    width: 100%;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0px;
    height: 2px;
    background: @brand-color;
    transition: all 0.7s ease-in;
}

.btn:after {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
}


.modal-body {
    padding: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 3%;
    z-index: 999;
    border: none;
    outline: none;
    background-color: @brand-color;
    color: #fff;
    cursor: pointer;
    width: 40px;
    opacity: 0.7;
    height: 40px;
    border-radius: 10%;
    font-size: 1.5rem;
    transition: opacity .3s ease, transform .3s ease;
    i {
        vertical-align: text-top;
    }
}

#myBtn:hover {
    opacity: 1;
    transform: translateY(-5px);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .section-wrapper {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.header {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .navbar {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 38px 15px 0px;
        border: none;
        height: 66px;
        background-color: transparent;
        margin: 0;
        box-sizing: border-box;
        .navbar-brand {
            display: inline-block;
            width: 30px;
            height: 25px;
            padding: 0px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .navbar-right {
            height: 100%;
            li {
                height: inherit;
                vertical-align: middle;
                a {
                    position: relative;
                    z-index: 100;
                    display: inline-block;
                    text-transform: uppercase;
                    color: #191919;
                    font-weight: 600;
                    font-size: 0.75rem;
                    padding: 0;
                    margin: 0 15px;
                    letter-spacing: 0.05em;
                    background-color: transparent;
                    transition: color .3s ease;
                }
                a::before {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    content: '';
                    z-index: 100;
                    background-color: @brand-color;
                    height: 2px;
                    left: 51%;
                    right: 51%;
                    transition: left .3s ease, right .3s ease;
                }
                a:hover {
                    color: @brand-color;
                }

                a:hover::before {
                    left: 0;
                    right: 0;
                }
            }
            .active a {
                color: @brand-color;
            }
        }
    }
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        max-width: 480px;
        height: 100vh;
        h1 {
            font-size: 2.375rem;
            font-weight: 600;
            font-family: @font-family-primary;
            color: #1d1d1d;
            margin: 0px;
            /*letter-spacing: 0.01em;*/
        }
        p {
            font-size: 1.125rem;
            font-weight: 400;
            font-family: @font-family-secondary;
            color: #787878;
            margin: 40px 0px;
            line-height: 1.6;
            letter-spacing: 0.013em;
        }
    }
}

.header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}



main {
    .about {
        margin: 0 auto;
        max-width: 650px;
        p {
            font-family: @font-family-secondary;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5;
            color: #787878;
            margin: 40px 0px;
            letter-spacing: 0.02em;

        }
        .signature {
            display: inline-block;
            width: 225px;
            height: 57px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .skills-block {
        min-height: 570px;
        width: 100%;
        background-color: #f8f9f9;
        overflow: hidden;
        .skills-bars {
            margin: 160px 0px;
            max-width: 520px;
            box-sizing: content-box;
            padding-right: 70px;
            h2 {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 38px;
                line-height: 1;
            }
            .bar-group {
                display: block;
                width: 100%;
                .skill {
                    height: 35px;
                    margin-bottom: 38px;
                    p {
                        letter-spacing: 0.1em;
                        line-height: 1;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #000;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }
                    .side {
                        box-sizing: border-box;
                        height: 3px;
                        width: 100%;
                        background-color: #d8d8d8;
                        .box {
                            width: 0px;
                            height: 3px;
                            background: @brand-color;
                            transition: 1.5s;
                        }

                        .design.triggeredCSS3 {
                            width: 75%;
                        }
                        .develop.triggeredCSS3 {
                            width: 90%;
                        }
                        .marketing.triggeredCSS3 {
                            width: 65%;
                        }
                    }
                }
                .skill:last-child {
                    margin-bottom: 0px;
                }
            }

        }
        .skills-preview {
            width: 50vw;
            min-height: 570px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 100;
        }
        .skills-preview::before {
            display: block;
            content: '';
            width: inherit;
            min-height: 570px;
            z-index: 100;
            background: -webkit-linear-gradient(left, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
            background: -o-linear-gradient(left, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to right, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
        }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
            .skills-bars {
                padding: 0;
                margin: 50px auto;
                max-width: 100%;
            }
            .skills-preview {
                width: 100vw;
            }
            .skills-preview::before {
                display: none;
            }
            .skills-preview::after {
                display: block;
                content: '';
                width: inherit;
                min-height: 570px;
                z-index: 100;
                background: -webkit-linear-gradient(top, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
                background: -o-linear-gradient(top, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(to bottom, #f8f9f9 0%, rgba(255, 255, 255, 0.08) 35%, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }

    .numbers {
        background-color: @brand-color;
        .projects {
            display: flex;
            align-items: normal;
            flex-wrap: nowrap;
            max-width: 230px;
            min-height: 40px;
            margin-left: 5px;
            .icon {
                display: inline-block;
                width: 42px;
                height: 42px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 27px;
            }
            .caption {
                letter-spacing: 0.05em;
                display: inline-block;
                max-width: 160px;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                word-wrap: break-word;
                .digits {
                    line-height: 15px;
                    font-size: 1.125rem;
                }
                .completed {
                    font-size: 0.75rem;
                    margin: 0;
                    letter-spacing: 0.01em;
                }
            }
        }
        @media only screen and (min-width: 320px) and (max-width: 480px) {
            .projects {
                margin: 15px auto;
            }
        }
    }

    .gallery {
        width: 100%;
        .list {
            width: 100%;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: none;
            }
            span {
                position: relative;
                display: block;
                text-align: center;
                .overlay {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: background-color .3s ease, opacity .3s;
                    background-color: transparent;
                    color: #fff;
                    font-size: 30px;
                }
                .overlay:hover {
                    background-color: black;
                    opacity: 0.7;
                }
            }
        }
        .load-btn {
            display: block;
            background-color: #f5f5f5;
            color: #8e8e8e;
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            height: 100px;
            width: 100%;
            letter-spacing: 0.09em;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            z-index: 100;
            transition: color .3s;
        }
        .load-btn:hover {
            color: #000;
        }
        .thumbnail {
            border: none;
            margin: 0;
            padding: 0;
        }
    }

    .work-process {
        background-color: #fff;
        width: 100%;
        .video {
            position: relative;
            width: 100%;
            height: 100%;
            h2 {
                font-family: @font-family-primary;
                font-size: 1.875rem;
                font-weight: 600;
                color: #191919;
                margin: 0;
                letter-spacing: 0.01em;
                line-height: 1;
            }
            p {
                font-family: @font-family-secondary;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
                color: #787878;
                margin: 40px 0px 55px;
                letter-spacing: 0.02em;
            }
            .preview {
                z-index: 100;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                min-height: 570px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                vertical-align: middle;
                .round-button {
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 85px;
                    height: 85px;
                    outline: none;
                    border: 3px solid @brand-color;
                    border-radius: 50%;
                    text-align: center;
                    text-decoration: none;
                    background-color: @brand-color;
                    font-size: 17px;
                    font-weight: bold;
                    transition: background-color 0.3s ease;
                    i {
                        color: #fff;
                    }
                }
                .round-button:hover {
                    background-color: transparent;
                }
                .round-button:active {
                    box-shadow: 0px 0px 10px rgba(16, 201, 195, 1);
                }
            }

        }
        .modal-body {
            overflow: hidden;
            box-sizing: border-box;
            padding: 0;
            video {
                vertical-align: middle;
            }
        }
    }

    .services {
        width: 100%;
        background-color: #f5f5f5;
        text-align: center;
        .service-list {
            display: block;
            max-width: 240px;
            margin: 0 auto 40px;
            .img {
                display: inline-block;
                width: 42px;
                height: 40px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            h5 {
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 600;
                color: #191919;
            }
            p {
                font-family: @font-family-secondary;
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: 0.015em;
                font-weight: 400;
                color: #787878;
            }
        }
    }

    .slider {
        padding: 180px 0px 60px 0px;
        width: 100%;
        background-color: @brand-color;
        .item {
            color: #fff;
            .feedback {
                position: relative;
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 1.5;
                letter-spacing: 0.02em;
                margin: 0 0 24px 0;
            }
            .feedback::before {
                content: '\201c';
                font: inherit;
                padding-right: 5px;
            }
            .feedback::after {
                content: '\201d';
                font: inherit;
                padding-left: 5px;
            }
            .author {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.095em;
                font-size: 0.75rem;
            }
        }
        .owl-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            .owl-dot {
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                opacity: 0.7;
                margin: 0 4.5px;
            }
            .active {
                display: inline-block;
                width: 10px;
                height: 10px;
                opacity: 1;
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
        .slider {
            padding: 50px 0px 30px 0px;
            .owl-dots {
                margin-top: 50px;
            }
        }
    }

    .clients {
        width: 100%;
        padding: 45px 0;
        .client {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .contain {
                display: block;
                width: 145px;
                height: 75px;
                margin: 15px 0px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
                transition: transform 0.3s;
            }
            .contain:hover {
                transform: translateY(-10px);
            }

        }
        @media (max-width: 767px) {
            .client {
                justify-content: space-around;
                .contain {
                    width: 125px;
                    margin: 15px 2px;
                }
            }
        }
    }

    .contact-form {
        width: 100%;
        background-color: #f5f5f5;
        h2 {
            font-family: @font-family-primary;
            font-size: 1.875rem;
            font-weight: 600;
            color: #191919;
            margin: 0;
            letter-spacing: 0.01em;
            line-height: 1;
        }
        p {
            font-family: @font-family-secondary;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
            color: #787878;
            margin: 40px 0px 40px;
            letter-spacing: 0.01em;
        }
        .form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: column;
            flex-wrap: wrap;
            max-width: 670px;
            min-height: 415px;
            margin: 0 auto;
            input::placeholder,
            textarea::placeholder {
                color: #787878;
                font-size: 0.9375rem;
                letter-spacing: 0.001em;
            }
            input,
            textarea {
                display: inline-block;
                height: 50px;
                border: none;
                padding: 18px 20px;
            }
            input,
            textarea:focus {
                outline-color: @brand-color;
            }
            .name-email {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                input {
                    width: 320px;
                    height: 50px;
                }
                .name {
                    margin-left: 0px;
                }
                .email {
                    margin-right: 0px;
                }
            }
            @media (max-width: 767px) {
                .name-email {
                    input {
                        width: 100%;
                        height: 50px;
                    }
                    .name {
                        margin-bottom: 10px;
                    }
                }
            }
            .subject {
                width: 100%;
                height: 50px;
            }
            textarea {
                resize: none;
                width: 100%;
                min-height: 170px;
            }
            .btn {
                padding: 20px 35px;
                line-height: 1;
            }
        }
    }
}

footer {
    display: block;
    width: 100%;
    background-color: #141414;
    color: #fff;
    a {
        display: inline-block;
        text-decoration: none;
        color: #bcbcbc;
        transition: color .2s;
        line-height: 1.8;
        font-size: 0.9375rem;
    }
    a:hover {
        color: @brand-color;
    }
    .copyright {
        display: block;
        h4 {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 20px;
        }
        p {
            color: #bcbcbc;
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.8;
            letter-spacing: 0.01em;
        }
    }
    ul {
        display: block;
        padding: 0;
        li {
            list-style: none;
            a {
                text-decoration: none;
                display: inline-block;
                color: #bcbcbc;
                padding: 0;
                font-size: 0.9375rem;
                transition: color .3s ease;
            }
            a:hover {
                color: @brand-color;
            }
        }
    }
}

/*mobile menu next*/

@media screen and (min-width: 769px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #pc-nav {
        display: none;
    }
    /* #myBtn {
        visibility: hidden;
    }*/
    .section-wrapper {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    html {
        font-size: 12px;
    }
    .mobile-logo {
        z-index: 999;
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 25px;
        position: fixed;
        top: 2rem;
        left: 2rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #overlay {
        z-index: 998;
        display: flex;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        div {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    margin: 5% auto;
                    a {
                        text-transform: uppercase;
                        font-size: 2rem;
                        color: #fff;
                        font-family: @font-family-primary;
                        font-weight: 400;
                    }
                }
                .active {
                    a {
                        color: @brand-color;
                    }
                }
            }
        }
    }

    #nav-icon {
        position: fixed;
        top: 3%;
        right: 3%;
        margin: 0 auto;
        width: 42px;
        height: 42px;
        z-index: 999;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background: #008080;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 0px;
        }

        span:nth-child(2) {
            top: 12px;
        }

        span:nth-child(3) {
            top: 24px;
        }
    }
    #nav-icon.animate-icon span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }

    #nav-icon.animate-icon span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon.animate-icon span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }

    .header {
        .hero-section {
            align-items: center;
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
    }
    main {
        .skills-block {
            .skills-bars {
                margin: 50px 0px;
                padding: 0;
                max-width: 100%;
            }
        }
        @media (max-height: 1024px) {
            .skills-block {
                .skills-bars {
                    margin: 50px 0px;
                    padding: 0;
                    max-width: 100%;
                }
                .skills-preview {
                    width: 100vw;
                }
            }

            .numbers {
                .projects {
                    margin: 10px auto;
                }
            }
            .slider {
                padding: 50px 0px 60px 0px;
                .owl-dots {
                    margin-top: 20px;
                }
            }
        }
        .numbers {
            .projects {
                .icon {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin: 0 2px;
                }
            }
        }
        .work-process {
            .video {
                .preview {
                    min-height: 60vh;
                }
            }
        }
    }
    footer {
        .reorder {
            display: flex;
            flex-wrap: wrap;
        }
        .copyright,
        .pagination-centered,
        li {
            text-align: center;
            order: 2;
        }
        .reordered {
            order: 1;
        }
    }
}