/*белый фон страницы*/
@body-bg: #fff; 
/*специфический зеленый фон данного дизайна*/
@brand-color: #10c9c3; 
/*если ширина экрана больше 992px, то ширина контейнера 1170px*/
@container-md: 1170px;
@container-sm: 768px;
@container-xs: 425px; 
/*если ширина экрана больше 1200px, то ширина контейнера так же 1170px*/
@container-lg: @container-md; 
/*основным шрифтом будет Monserrat*/
@font-family-primary: Montserrat, sans-serif;
/*дополнительным шрифтом будет Nunito*/
@font-family-secondary: Nunito, sans-serif;
/*задаем базовый размер*/
@font-size-base: 16px;
/*колиество гридов*/
@grid-columns:24;